// Widescreens
@include mediaXl {
    .heading {
        &.lg-heading {
            line-height: 1;
        }
    }
}

// Desktops & laptops
@include mediaLg {
    .heading {
        line-height: 1;
    }

    #work {
        .projects {
            .item {
                .button-block {
                    .btn {
                        width: 100%;
                        font-size: 1rem;
                        margin: 0.1rem;
                        padding: 0.1rem 0.1rem;
                    }
                }

            }
        }
    }
}

// Tables & small laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .heading {
            line-height: 1;

            .text-first {
                font-size: 1.5rem;
            }

            .lg-heading {
                font-size: 4.7rem;
                margin-bottom: 1rem;
            }
        }

        .download-button {
            margin-top: 3rem;

            a {
                border: 1px solid $white-color;

                padding: 0.5rem;

            }
        }
    }

    #about {
        .info {
            flex-direction: column;

            .bio-image {
                width: 150px;
                height: 150px;

                margin-top: 0.5rem;
            }

            .info-secondary {
                margin-top: 0.5rem;
                margin-left: 0;

                h3 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1rem;
                }

            }
        }
    }

    #skills {
        .skills-block {
            display: flex;
            align-items: center;


            p {
                display: flex;
                flex-direction: column;
            }
        }
    }

    #work {
        .projects {
            width: 100%;
            justify-content: center;
            flex-direction: column;

            .item {
                width: 100%;

                .button-block {
                    .btn {
                        width: 100%;
                        font-size: 0.7rem;
                        margin: 0.1rem;
                        padding: 0.1rem 0.1rem;
                    }
                }

            }
        }
    }
}



// Smartphones
@include mediaSm {
    main {
        .heading {
            .lg-heading {
                font-size: 2rem;
            }

            .sm-heading {
                font-size: 1rem;
            }
        }
    }
}